---
title: Workshop on Set Theory and Theoretical Computer Science
---
{% include header.html %}
<h2>Workshop on Set Theory and Theoretical Computer Science</h2>

<p>In connection with my PhD defense (Tuesday, April 24, at
noon at the Agnietenkapel), we are having a small workshop with talks
by some of the members of my thesis committee. The event will take
place at the Vondelzaal (Universiteitsbibliotheek room C1.08, Singel
425) on Tuesday, April 24.</p>

<table cellpadding="10">
<tr><th colspan="3" align="center">Schedule</th></tr>
  <tr><th>15:30 - 16:15</th><td>Vasco Brattka (Munich)</td><td>TBA</td></tr>
<tr><th>16:15 - 17:00</th><td>Jacques Duparc (Lausanne)</td><td>"Some remarks on Baire's grand theorem"</td></tr>
<tr><th>17:00 - 17:45</th><td>Jouko Väänänen (Amsterdam &amp; Helsinki)</td><td>"An extension of a theorem of Zermelo”</td></tr>
<tr><th>17:45 - 18:30</th><td>Arno Pauly (Swansea)</td><td>"Descriptive set theory, endofunctors &amp; hypercomputation"</td></tr>
</table>

<p>Everyone is cordially invited to join!</p>

<p>Abstracts of the talks:</p>

<p>
Jacques Duparc: "Some remarks on Baire's grand theorem"<br />
This is joint work with Riccardo Camerlo. 
We provide a game theoretical proof of the fact that if f is a function from a zero-dimensional Polish space to the Baire space that has a point of continuity when restricted to any non-empty compact subset, then f is of Baire class 1.
We use this property of the restrictions to compact sets to give a generalisation of Baire's grand theorem for functions of any Baire class.
</p>

<p>
  Jouko Väänänen: "An extension of a theorem of Zermelo"<br />
Zermelo (1930) proved the following categoricity result for
set theory. Suppose M is a set and E, E' are two binary relations on
M. If both (M,E) and (M,E') satisfy the second order Zermelo-Fraenkel
axioms, then (M,E) and (M,E’) are isomorphic. Of course, the same is
not true for first order Zermelo-Fraenkel. However, we show that if
first order Zermelo-Fraenkel is formulated in the extended vocabulary
{E,E'}, then Zermelo's result holds even in the first order case.
Similarly, Dedekind's (1888) categoricity result for  second order
  Peano arithmetic has an extension to a result about first order Peano.</p>

<p>
  Arno Pauly: "Descriptive set theory, endofunctors & hypercomputation"<br />
  What is the connection between concepts from descriptive set theory such as point classes or classes of measurable or piecewise defined functions, endofunctors on the category of represented spaces, and models of hypercomputation in computable analysis?
  I'll give some examples from the quest towards an explanation.
</p>

{% include footer.html %}
