---
title: Workshop on Set Theory and Theoretical Computer Science
---
{% include header.html %}
<h2>Workshop on Set Theory and Theoretical Computer Science</h2>

<p>In connection with my PhD defense (Tuesday, April 24, at
noon at the Agnietenkapel), we are having a small workshop with talks
by some of the members of my thesis committee. The event will take
place at the Vondelzaal (Universiteitsbibliotheek room C1.08, Singel
425) on Tuesday, April 24.</p>

<table cellpadding="10">
<tr><th colspan="3" align="center">Schedule</th></tr>
  <tr><th>15:30 - 16:15</th><td>Vasco Brattka (Munich)</td><td>TBA</td></tr>
<tr><th>16:15 - 17:00</th><td>Jacques Duparc (Lausanne)</td><td>TBA</td></tr>
<tr><th>17:00 - 17:45</th><td>Jouko Väänänen (Amsterdam & Helsinki)</td><td>"An extension of a theorem of Zermelo”</td></tr>
<tr><th>17:45 - 18:30</th><td>Arno Pauly (Swansea)</td><td>TBA</td></tr>
</table>

<p>Everyone is cordially invited to join!</p>

<p>Abstracts of the talks:</p>

<p>Jouko Väänänen: "An extension of a theorem of Zermelo”<br />
Zermelo (1930) proved the following categoricity result for
set theory. Suppose M is a set and E, E' are two binary relations on
M. If both (M,E) and (M,E') satisfy the second order Zermelo-Fraenkel
axioms, then (M,E) and (M,E’) are isomorphic. Of course, the same is
not true for first order Zermelo-Fraenkel. However, we show that if
first order Zermelo-Fraenkel is formulated in the extended vocabulary
{E,E'}, then Zermelo's result holds even in the first order case.
Similarly, Dedekind's (1888) categoricity result for  second order
  Peano arithmetic has an extension to a result about first order Peano.</p>

<p>The other abstracts will be announced shortly.</p>

{% include footer.html %}
