---
---
<!DOCTYPE html>
<html lang="en">
	{% include header.html %}
	<body>
		<div class="bg"></div>
		<div class="container">
			{% include menu.html %}
			
			<div class="main">
				<h2>Papers</h2>
				<p>
					Cerioli, M.; Nobrega, H.; Viana, P., “Decomposition by maxclique separators”. 
					Submitted to Discrete Mathematics.
				</p>
				<p>
					Cerioli, M.; Nobrega, H.; Viana, P., “<a href="http://www.sciencedirect.com/science/article/pii/S1571065311001089" target="_blank">On characterizations by nice forbidding sets</a>” (extended abstract). 
					Electronic Notes in Discrete Mathematics, 38:233–238, 2011.
					Proceedings of the Sixth European Conference on Combinatorics, Graph Theory and Applications, EuroComb 2011.
				</p>
				<p>
					Cerioli, M.; Nobrega, H.; Viana, P., “<a href="http://ctw2011.dia.uniroma3.it/ctw_proceedings.pdf" target="_blank">A partial characterization by forbidden subgraphs of edge path graphs</a>” (extended abstract). 
					Proceedings of the 10th Cologne-Twente Workshop – CTW 2011, 109–112, 2011.
				</p>
				<p>
					Cerioli, M.; Nobrega, H.; Viana, P., “<a href="http://mc.sbm.org.br/images/pdf/39/a8.pdf" target="_blank">Decomposition by maxclique separators</a>” (extended abstract). 
					Matemática Contemporânea, 39:69–76, 2010. Proceedings of the 4th Latin-American Workshop on Cliques in Graphs, LawCliques’10.			
				</p>
				<br />
				<h2>Talks</h2>
				<p>
					Coming soon.
				</p>
			</div>  
		</div>
		
	</body>
</html>	