<div class="menu">
	<a class="menu" href="/">
		About
	</a>
	<br />
	<br />
	<a class="menu" href="/publications">
		Publications
	</a>
	<br />
	<br />
	<a class="menu" href="/teaching">
		Teaching
	</a>
	
	<br />
	<br />
	
	<p>
		<b>
			Email address
		</b>
		<br />
		<span class="address">
			<a href="http://www.google.com/recaptcha/mailhide/d?k=015atvPxg5HWKd3LulBmgRVw==&amp;c=k5J_DYP2mQn92ViOntgBqRsUzR9Sx_yiLZT1AhdUmBs=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075015atvPxg5HWKd3LulBmgRVw\75\75\46c\75k5J_DYP2mQn92ViOntgBqRsUzR9Sx_yiLZT1AhdUmBs\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">
				click here to reveal
			</a>
		</span>
	</p>
	
	<p>
		<b>
			Phone number
		</b>
		<br />
		<span class="address">
			+31 (0)20 525 6011/6330
		</span>
	</p>
	
	<p>
		<b>
			Mailing address
		</b>
		<br />
		<span class="address">
			Institute for Logic, Language, and Computation<br />
			University of Amsterdam<br />
			P.O. Box 94242
			<br />
			1090 GE Amsterdam
			<br />
			THE NETHERLANDS
		</span>
	</p>
	
	<p>
		<b>
			Visiting address
		</b>
		<br />
		<span class="address">
			Office F1.11<br />
			Science Park 107<br />
			1098 XG Amsterdam<br />
			(<a href="https://www.google.nl/maps/dir//Science+Park+107,+1098+XG+Amsterdam/@52.3555563,4.9501012,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c60944866baf03:0x84655593c830ddad!2m2!1d4.9506319!2d52.3555188!3e2?hl=en" target="_blank">google map</a>)
		</span>
	</p>
	
</div>