---
title: Teaching
---
{% include header.html %}

<ol reversed>
	<li>Fall 2016: <a href="http://www.math.uni-hamburg.de/home/loewe/2016-17-I/CSST2016.html">Capita Selecta: Set Theory</a>; <i>Forcing</i> (as a teaching assistant for Benedikt Löwe)</li>
	<li>June/July 2016: Coordinated Project; <i>Measurable Cardinals</i></li>
	<li>Spring 2016: Axiomatic Set Theory (as a teaching assistant for Alexandru Baltag)</li>
	<li>Spring 2015: Axiomatic Set Theory (as a teaching assistant for Alexandru Baltag)</li>
	<li>January 2015: Coordinated Project; <i>Forcing</i></li>
	<li>Fall 2014: Capita Selecta: Set Theory; <i>Large cardinals and descriptive set theory</i> (as a teaching assistant for Benedikt Löwe)</li>
	<li>Fall 2014: <a href="SML">Seminar Mathematical Logic</a>; <i>Highlights of the foundations of mathematics</i> (as an informal teaching assistant for Benedikt Löwe)</li>
	<li>Spring 2014: <a href="AxVT">Axiomatic Set Theory</a> (as a teaching assistant for Benedikt Löwe)</li>
</ol>

{% include footer.html %}
