---
title: Papers and talks
---
{% include header.html %}

<h2>Journal papers and papers in proceedings volumes</h2>
<ol reversed>
	<li>
		<b><a href="http://dx.doi.org/10.1007/978-3-319-58741-7_31" target="_blank">Game Characterizations and Lower Cones in the Weihrauch Degrees</a></b>. (With Arno Pauly)<br />
		Proceedings of the 13th Conference on Computability in Europe, CiE 2017, Turku, Finland, June 12&ndash;16, 2017. Kari, Manea, Petre (eds.). Lecture Notes in Computer Science, v. 10307, pp. 327&ndash;337, Springer International Publishing, 2017.	
	</li>
	<li>
		<b><a href="http://dx.doi.org/10.1007/978-3-319-58741-7_24" target="_blank">Towards Computable Analysis on the Generalised Real Line</a></b>. (With Lorenzo Galeotti) <b>Best student paper award</b>.<br /> 
		Proceedings of the 13th Conference on Computability in Europe, CiE 2017, Turku, Finland, June 12&ndash;16, 2017. Kari, Manea, Petre (eds.). Lecture Notes in Computer Science, v. 10307, pp. 246&ndash;257, Springer International Publishing, 2017.
	</li>
	<li>
		<b><a href="http://dx.doi.org/10.5540/03.2017.005.01.0239" target="_blank">On the (in)dependence of the Dedekind-Peano axioms for natural numbers</a></b>. (With Márcia R. Cerioli, Guilherme Silveira, and Petrucio Viana)<br />
		Proceedings of CNMAC 2016, XXXVI Congresso Nacional de Matemática Aplicada e Computacional, v. 5, n. 1, 2017.
	</li>
	<li>
		<b><a href="http://dx.doi.org/10.1016/j.disc.2014.07.020" target="_blank">Decomposition by maxclique separators</a></b>. (With Márcia R. Cerioli and Petrucio Viana)<br />
		Discrete Mathematics 337:119&ndash;126, 2014.
	</li>
	<li>
		<b><a href="https://www.dropbox.com/s/qm0gwcm00qnc41y/CTD2012.pdf?dl=0" target="_blank">Decomposições por cliques maximais e subgrafos proibidos para grafos de caminho</a></b>. (in Portuguese, with Márcia R. Cerioli and Petrucio Viana)<br /> 
		Proceedings of XXXII Congresso da Sociedade Brasileira de Computação &mdash; Concurso de Teses e Dissertações, 2012.
	</li>
	<li>
		<b><a href="http://dx.doi.org/10.1016/j.endm.2011.09.039" target="_blank">On characterizations by nice forbidding sets</a></b>. (With Márcia R. Cerioli and Petrucio Viana)<br />
		Proceedings of the Sixth European Conference on Combinatorics, Graph Theory and Applications, EuroComb 2011. Nešetřil, Győri, Sali (eds.). Electronic Notes in Discrete Mathematics, 38:233&ndash;238, 2011.<br />
	</li>
	<li>
		<b><a href="https://www.dropbox.com/s/ut7iolarvihq3vp/CTW2011.pdf?dl=0" target="_blank">A partial characterization by forbidden subgraphs of edge path graphs</a></b>. (With Márcia R. Cerioli and Petrucio Viana)<br />
		Proceedings of the 10th Cologne-Twente Workshop &mdash; CTW 2011, pp. 109&ndash;112, 2011.
	</li>
	<li>
		<b><a href="http://mc.sbm.org.br/docs/mc/pdf/39/a8.pdf" target="_blank">Decomposition by maxclique separators</a></b>. (With Márcia R. Cerioli and Petrucio Viana)<br />
		Proceedings of the 4th Latin-American Workshop on Cliques in Graphs, LawCliques’10. Matemática Contemporânea, 39:69&ndash;76, 2010.			
	</li>
</ol>
<h2>Theses</h2>
<ol reversed>
	<li>
		<b><a href="https://www.illc.uva.nl/cms/Research/Publications/Dissertations/DS-2018-09.text.pdf" target="_blank">Games for functions: Baire classes, Weihrauch degrees, transfinite computations, and ranks</a></b>.<br />
		PhD thesis supervised by Benedikt Löwe at the Institute for Logic, Language and Computation of the University of Amsterdam, 2018.
	<li>
	<li>
		<b><a href="http://www.illc.uva.nl/Research/Publications/Reports/MoL-2013-16.text.pdf" target="_blank">Game characterizations of function classes and Weihrauch degrees</a></b>.<br />
		MSc. thesis supervised by Benedikt Löwe at the Institute for Logic, Language and Computation of the University of Amsterdam, 2013.
	<li>
		<b><a href="http://objdig.ufrj.br/60/teses/coppe_m/HugoDeHolandaCunhaNobrega.pdf" target="_blank">Decomposição por Cliques Maximais e Subgrafos Proibidos para Grafos de Caminho</a></b>. (in Portuguese)<br />
		MSc. thesis supervised by Márcia R. Cerioli and Petrucio Viana at the Systems and Computer Engineering Program of the Federal University of Rio de Janeiro, 2011.<br />
		<a href="https://www.dropbox.com/s/24gg0ra5d92tzkb/UFRJ_thesis_summary.pdf?dl=0" target="_blank">English summary available</a>.
	</li>
</ol>
<h2>Abstracts presented at conferences</h2>
<ol reversed>
	<li>
		<b>Games for Baire classes and partition classes</b>.<br />
		Colloquium Logicum 2016, Hamburg, 10&ndash;12 September 2016.
	</li>
	<li>
		<b>Game characterizations of functions of finite Baire class</b>.<br />
		Annual Meeting 2015 of the Deutsche Mathematiker-Vereinigung, Hamburg, 21&ndash;25 September 2015.
	</li>
	<li>
		<b>Game characterizations and Weihrauch degrees</b>. (With Benedikt Löwe and Arno Pauly)<br />
		Twelfth International Conference on Computability and Complexity in Analysis, CCA 2015, Tokyo, 12&ndash;15 July 2015.
	</li>
	<li>
		<b>Obtaining Weihrauch-complete functions and relations from sets of real numbers</b>.<br />
		Colloquium Logicum 2014, Munich, 4&ndash;6 September 2014.
	</li>
	<li>	
		<b>Game characterizations of function classes and Weihrauch degrees</b>.<br />
		PhDs in Logic VI, Utrecht, 24&ndash;25 April 2014.
	</li>
	<li>
		<b>Characterizations by nice forbidding sets</b>. (With Márcia R. Cerioli and Petrucio Viana)<br />
		XVI Brazilian Logic Conference, Petrópolis, 9&ndash;13 May 2011.
	</li>
	<li>
		<b>Decompositions by maxclique separators</b>. (With Márcia R. Cerioli and Petrucio Viana)<br />
		4th Latin American Workship on Cliques in Graphs (LawCliques'10), Petrópolis, 16&ndash;19 November 2010.
	</li>
</ol>
<h2>Other talks given</h2>
<ol reversed>
	<li>
		<b>Games for functions in descriptive set theory</b>.<br />
		Seminar given at the Formal Methods and Verification group, Université Libre de Bruxelles, 7 October 2016.
	</li>
	<li>
		<b>Computable analysis and games in descriptive set theory</b>.<br />
		Seminar given at the Isaac Newton Institute for Mathematical Sciences as part of the program <i>Mathematical, Foundational and Computational Aspects of the Higher Infinite</i>, 9 October 2015.
	</li>
	<li>
		<b><a href="https://www.dropbox.com/s/b1eeuhvlavxkm77/UERJ_seminar.pdf?dl=0" target="_blank">Jogos infinitos em teoria descritiva dos conjuntos</a></b>. (in Portuguese)<br />
		Seminar given at the Institute of Mathematics and Statistics, Universidade do Estado do Rio de Janeiro, 24 June 2015.
	</li>
	<li>
		<b>Game characterizations of functions of finite Baire class</b>.<br />
		Seminar given at the Department of Mathematics “Giuseppe Peano”, University of Turin, 29 May 2015.
	</li>
	<li>
		<b><a href="http://events.illc.uva.nl/coollogic/past-talks" target="blank">Games in Descriptive Set Theory, or: it's all fun and games until someone loses the axiom of choice</a></b>.<br />
		Cool Logic, University of Amsterdam, 22 May 2015.
	</li>
	<li>
		<b>Some Weihrauch completeness results for classes of functions in descriptive set theory</b>.<br />
		Seminar given at the Logic &amp; Algorithms Reading Group, University of Cambridge, 27 August 2014.
	</li>
	<li>
		<b>Connecting computable analysis and descriptive set theory via games</b>.<br />
		Informal Amsterdam-Hamburg Set Theory Encounter, ILLC, 29 April 2014.
	</li>
	<li>
		<b><a href="http://events.illc.uva.nl/coollogic/past-talks" target="blank">Characterizations by nice forbidding sets</a></b>.<br />
		Cool Logic, University of Amsterdam, 2 November 2012.
	</li>
	<li>
		<b>Independência dos Axiomas de Dedekind-Peano</b>. (in Portuguese)<br />
		XVIII Seminário de Iniciação Científica, Universidade Federal Fluminense, 2008.
	</li>
	<li>
		<b>Cálculos Relacionais: equações, inclusões e pontos</b>. (in Portuguese)<br />
		XVII Seminário de Iniciação Científica, Universidade Federal Fluminense, 2007.
	</li>
</ol>

{% include footer.html %}
